body{
    background-color: white;
}
h1{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
}
h3{
    color:gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75%;
}
h4{
    color:darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75%;
}
h6{
    color:red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h7{
    color:green;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h2{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    background-color: dodgerblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    font-size: 15px;
}
.buttonb{
    background-color: rgb(160, 160, 160);
    color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border: none;
}
.buttonb2{
    background-color: rgb(160, 160, 160);
    color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border: none;
}
.buttonb3{
    background-color: rgb(160, 160, 160);
    color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border: none;
}
.buttonb4{
    background-color: rgb(160, 160, 160);
    color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border: none;
}
.buttonc{
    background-color:dodgerblue;
    color:black;
    font-size: 60%;
    border-radius: 20%;
    border-color: black;
}
.buttond{
    background-color:blue;
    color:gray;
    font-size: 15px;
    border-radius: 20px;
    border-color: gray;
}
.menu{
    position: relative;
    display: contents;
}
exit{
    position: absolute;
    top: 1%;
    left: 95%;
}
.item{
    display: none;
    position: absolute;
    background-color: rgb(160, 160, 160);
    border-radius: 16px;
    min-width: 160px;
    z-index: 1;
}
.item a{
    display: block;
}
.subitem{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}
.subitem a{
    display: block;
}
.menu:hover .item{
    display: block;
}
.item:hover .subitem{
    display: block;
}
grafico{
    position:absolute;
    top:100px;
    left:500px;
}
gra{
    position:absolute;
    top:100px;
    left:100px;
}
login{
    position:absolute;
    top:20%;
    left:37%;
}
pag{
    position:absolute;
    top:10%;
    left:1%;
}
pag2{
    position:absolute;
    top:50px;
    left:500px;
}
urn{
    position:absolute;
    top:15%;
    left: 120%;
}
urc{
    position:absolute;
    top:100%;
    left:1%;
}
urd{
    position:absolute;
    top:10%;
    left:110%;
}
urm{
    position:absolute;
    top:5%;
    left:110%;
}
rn{
    position:absolute;
    top:50px;
    left:325px;
}
rs{
    position:absolute;
    top:30%;
    left:1%;
}
rf{
    position:absolute;
    top:20px;
    left:250px;
}
input, select{
    border-radius: 20%;
    border-color: gray;
    background-color: white;
    color:black;
    font-size: 80%;
}
.inputb{
    background-color:dodgerblue;
    color:black;
    font-size: 80%;
    border-radius: 20%;
    border-color: black;
}
.inputc{
    background-color:gray;
    color:red;
    font-size: 20px;
    border-radius: 20px;
    border-color: black;
}
.inputd{
    background-color:gray;
    color:black;
    font-size: 15px;
    border-radius: 10px;
    border-color:gray;
}
table{
    align-items: center;
    text-align: center;
    border-style: outset;
    border-radius: 10px;
    border-color:darkblue;
    padding: 0%;
}
.tableb{
    align-items: left;
    text-align: left;
    border-style: inset;
    border-radius: 10px;
    border-color:darkblue;
}