body{
    background-image:linear-gradient(to right,darkblue 60%,dodgerblue);
}
h1{
    color: gray;
    font-family: OCR A Std, monospace;
}
h3{
    color:gray;
    font-family: OCR A Std, monospace;
    font-size: 15px;
}
h4{
    color:black;
    font-family:OCR A Std, monospace;
}
h5{
    color:yellow;
    font-family:OCR A Std, monospace;
    font-size: 20px;
}
h6{
    color:red;
    font-family:OCR A Std, monospace;
    font-size: 20px;
}
h7{
    color:green;
    font-family:OCR A Std, monospace;
    font-size: 20px;
}
h2{
    color: dodgerblue;
    font-family: OCR A Std, monospace;
}
button{
    background-color: gray;
    font-family: OCR A Std, monospace;
    color:black;
    font-size: 15px;
    border-radius: 8px;
}
.buttonb{
    background-color: gray;
    font-family: OCR A Std, monospace;
    font-size: 20px;
    border-radius: 8px;
}
.buttonc{
    background-color:gray;
    color:black;
    font-size: 20px;
    border-radius: 20px;
    border-color: black;
}
.buttond{
    background-color:darkblue;
    color:gray;
    font-size: 15px;
    border-radius: 20px;
    border-color: gray;
}
menu{
    position:absolute;
    top:10px;
    left:0px;
}
grafico{
    position:absolute;
    top:100px;
    left:500px;
}
gra{
    position:absolute;
    top:100px;
    left:100px;
}
login{
    position:absolute;
    top:10px;
    left:500px;
}
pag{
    position:absolute;
    top:50px;
    left:330px;
}
pag2{
    position:absolute;
    top:50px;
    left:500px;
}
urn{
    position:absolute;
    top:50px;
    left:380px;
}
urc{
    position:absolute;
    top:550px;
    left:0px;
}
urd{
    position:absolute;
    top:5px;
    left:550px;
}
rn{
    position:absolute;
    top:50px;
    left:325px;
}
rf{
    position:absolute;
    top:20px;
    left:250px;
}
input, select{
    border-radius: 8px;
    background-color: gray;
    color:black;
    font-size: 20px;
}
.inputb{
    background-color:gray;
    color:black;
    font-size: 20px;
    border-radius: 20px;
    border-color: black;
}
.inputc{
    background-color:gray;
    color:red;
    font-size: 20px;
    border-radius: 20px;
    border-color: black;
}
.inputd{
    background-color:gray;
    color:black;
    font-size: 15px;
    border-radius: 10px;
    border-color:gray;
}
table{
    align-items: center;
    text-align: center;
    border-style: outset;
    border-radius: 10px;
    border-color:gray;
    padding: 0%;
}
.tableb{
    align-items: left;
    text-align: left;
    border-style: inset;
    border-radius: 10px;
    border-color:gray;
}